body {
    background: rgb(218, 218, 218);
}

.container {
    background: white;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: rgba(130, 129, 129, 0.555) 0 0 10px;
}

h1 {
    text-align: center;
}

form label {
    font-weight: 600;
    font-size: 18px;
}

.form-group {
    margin: 1rem 0;
}

.cls1 {
    width: 100%;
    border: 1px solid black;
}

.checkbox input {
    transform: scale(1.3);
    transform-origin: left center;
}

.checkbox label {
    padding-left: 8px;
    padding-right: 10px;
}

.submit {
    display: block;
    margin: 2rem auto 0 auto;
    max-width: 500px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(2, 120, 231);
    border: none;
    border-radius: 5px;
    color: white;
}

.submit:hover {
    background-color: #00589C;  
}

.error {
    color: red;
}

.success {
    color: green;
}